.jumbotron {
    background-color: white !important;
}

.text-cetner {
    text-align: center  !important;
}

.navbar {
	width: 100%  !important;
	background-color: #807979  !important;
	padding-left: 20px  !important;
	padding-top: 10px  !important;
}

.nav-link {
	color: #fff  !important;
	font-size: 20px  !important;
}

.nav-link:hover {
	color: #fff  !important;
}

.table {
	width: 60%  !important;
	margin-left: auto !important;
	margin-right: auto  !important;
}

.table tr:hover {
	background-color: rgba(202, 194, 194, 0.5)  !important;
}

.thead-inverse th {
    color: #fff  !important;
    background-color: #373a3c  !important;
}
