#headline {
	margin-top: -30px;
}

#apartmentsButton {
	margin-left: 85%;
}

#listHeadline {
	margin-top: 50px;
	margin-bottom: 20px;
}

.search-section {
	display: inline;
}

#searchField {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	margin-bottom: 15px;
}

#searchButton {
	margin-left: 10px;
}

#amenities {
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#addNewHost {
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#modal-content {
	width: 500px;
	height: 1500px;
}

#username{
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#firstName {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#lastName {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#formCheck {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#password {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#password2 {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#reservations {
	margin-top: 20px;
	margin-bottom: 10px;
}
