#headline {
	margin-top: -30px;
}

#apartmentsButton {
	margin-left: 85%;
}

#listHeadline {
	margin-top: 50px;
	margin-bottom: 20px;
}

.search-section {
	display: inline;
}

#searchField {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	margin-bottom: 15px;
}

#searchButton {
	margin-left: 10px;
}

#amenities {
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#addNewHost {
	margin-top: 20px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#modal-content {
	width: 500px;
	height: 1500px;
}

#username{
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#firstName {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#lastName {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#formCheck {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#password {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#password2 {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#reservations {
	margin-top: 100px;
	margin-bottom: 50px;
}

#comments {
	margin-top: 100px;
	margin-bottom: 50px;
}


.sorting {
	width: 60%;
	height: 50px;
	margin: 10px auto;
	position: relative;
}

#criteria {
	width: 20%;
	position: absolute;
	top: 5px;
	left: 65%;
}

#sort {
	position: absolute;
	top: 5px;
	left: 90%;
	width: 90px;
	background-color: rgba(2, 117, 216, 0.9);
}

#filter-select {
	width: 20%;
	position: absolute;
	top: 5px;
	left: 5px;
}

#filter {
	position: absolute;
	top: 5px;
	left: 25%;
	width: 90px;
	background-color: rgba(2, 117, 216, 0.9);
}