.container {
    position: relative;
    height: 2000px;
}

#apartmentName {
    position: absolute;
    top: 10px;
    left: 40%;
}

#activateApartment {
    position: absolute;
    top: 30px;
    left: 70%;
}

#deleteApartment {
    position: absolute;
    top: 30px;
    left: 85%;
}

#editApartment {
    position: absolute;
    top: 80px;
    left: 85%;
}

#rentRequest {
    position: absolute;
    top: 30px;
    left: 80%;
}

#apartmentType {
    position: absolute;
    top: 100px;
    left: 10%;
}

#numberOfRooms {
    position: absolute;
    top: 100px;
    left: 60%;
}

#numberOfGuests {
    position: absolute;
    top: 150px;
    left: 10%;
}

#pricePerNight {
    position: absolute;
    top: 150px;
    left: 60%;
}

#hostName {
    position: absolute;
    top: 200px;
    left: 10%;
}

#street {
    position: absolute;
    top: 200px;
    left: 60%;
}

#city {
    position: absolute;
    top: 250px;
    left: 10%;
}

#location {
    position: absolute;
    top: 250px;
    left: 60%;
}

.carousel-inner{
	margin: 30% auto 20px auto;
    width: 1000px;
}

img {
    max-width: 1000px;
    max-height: 700px;
    margin-left: auto;
	margin-right: auto;
}

.amenityContainer {
    margin-top: 30px;
    font-size: 18px;
}

.datesContainer {
    margin-top: 30px;
    font-size: 16px;
}

#numberOfNights {
    width: 80%;
    margin: 5px auto;
}

#message {
    width: 80%;
    margin: 5px auto;
}

#date {
    width: 80%;
    margin: 5px auto;
}

#commentHeadline {
	margin-top: 100px;
	margin-bottom: 10px;
}

.commentSection {
	margin-top: 50px;
    height: 300px;
    width: 100%;
}

.comment {
	width: 80%;
	margin: 20px auto;
    border: 1px solid rgba(27, 187, 174, 0.6);
	box-shadow: 3px 5px rgba(136, 136, 138, 0.5);
    position: relative;
    height: 200px;
}

.text {
	position: absolute;
	top: 5px;
	left: 5%;
}

.timestamp {
	position: absolute;
	bottom: 1px;
	left: 10px;
}

.rating {
	position: absolute;
	bottom: 1px;
	left: 45%;
}

.username {
	position: absolute;
	bottom: 1px;
	right: 10px;
}












