#listHeadline {
	margin-top: 50px;
	margin-bottom: 20px;
}

#editButton{
	margin-left: 80%;
}

#addApartment {
	margin-left: 1%;
}

.table {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.table tr:hover {
	background-color: rgba(202, 194, 194, 0.5);
}

.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}

.search-section {
	display: inline;
}

#searchField {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: inline;
	margin-bottom: 15px;
}

#searchButton {
	margin-left: 10px;
}

#hr {
	width: 60%;
	margin: 0 auto;
}

#pendingReservations {
	margin-top: 20px;
	margin-bottom: 10px;
}

.btn-danger {
	margin-left: 5px;
}

#otherReservations {
	margin-top: 100px;
	margin-bottom: 10px;
}

.sorting {
	width: 60%;
	height: 50px;
	margin: 10px auto;
	position: relative;
}

#criteria {
	width: 20%;
	position: absolute;
	top: 5px;
	left: 65%;
}

#sort {
	position: absolute;
	top: 5px;
	left: 90%;
	width: 90px;
	background-color: rgba(2, 117, 216, 0.9);
}

#filter-select {
	width: 20%;
	position: absolute;
	top: 5px;
	left: 5px;
}

#filter {
	position: absolute;
	top: 5px;
	left: 25%;
	width: 90px;
	background-color: rgba(2, 117, 216, 0.9);
}


#username {
	width: 80%;
	margin: 5px auto;
}

#firstName {
	width: 80%;
	margin: 5px auto;
}

#lastName {
	width: 80%;
	margin: 5px auto;
}

#password {
	width: 80%;
	margin: 5px auto;
}

#password2 {
	width: 80%;
	margin: 5px auto;
}

#edit {
	background-color: rgba(2, 117, 216, 0.9);
	color: white;
}



