#loginButton {
	margin-left: 80%;
}

#profileButton {
	margin-left: 85%;
}

#adminProfileButton {
	margin-left: 85%;
}

#hostProfileButton {
	margin-left: 85%;
}

#logoutButton {
	margin-top: 30px;
	margin-left: -50%;
}