#title {
	margin-top: -20px;
	margin-bottom: 30px;
}

#loginButton {
	position: absolute;
	top: 5px;
	right: 5%;
}

#registerButton {
	position: absolute;
	top: 5px;
	right: 10px;
}

#profileButton {
	margin-left: 85%;
}

#adminProfileButton {
	margin-left: 85%;
}

#hostProfileButton {
	margin-left: 85%;
}

.search-filter {
	position: relative;
	width: 50%;
	margin: 10px auto 20px auto;
	height: 45px;
	border: 1px solid rgba(148, 151, 151, 0.6);
}

#searchApartments {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 10px;
}

#criteria {
	position: absolute;
	width: 200px;
	top: 5px;
	bottom: 5px;
	left: 60%;
}

#sortApartments {
	position: absolute;
	top: 5px;
	bottom: 5px;
	right: 10px;
}

.apartment {
	width: 50%;
	height: 260px;
	margin: 0px auto 30px auto;
	position: relative;
	border: 1px solid rgba(27, 187, 174, 0.6);
	box-shadow: 3px 5px rgba(136, 136, 138, 0.5);
}

.apartmentPreview {
	position: absolute;
	height: 250px;
	width: 400px;
	top: 5px;
	left: 5px;
}

.apartmentName {
	position: absolute;
	left: 60%;
	font-size: 30px;
	font-weight: 600;
}

.numberOfGuests {
	position: absolute;
	left: 60%;
	top: 15%;
}

.numberOfRooms{
	position: absolute;
	left: 60%;
	top: 30%;
}

.pricePerNight {
	position: absolute;
	left: 60%;
	top: 45%;
}

.location {
	position: absolute;
	left: 60%;
	top: 60%;
}

.btn-secondary {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#priceMin {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#numberOfRoomsMin {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#numberOfRoomsMax {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#numberOfGuests {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#city {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#priceMax {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#availableForRenting {
	margin-top: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#close {
	margin: 3px 80% 10px 0;
}

#search {
	margin: 5px 0 5px 0;
}


#logoutButton {
	margin-top: 100px;
	margin-left: -25%;
	position: absolute;
}