.navbar {
	width: 100%;
	background-color: #807979;
	padding-left: 20px;
	padding-top: 10px;
}

.nav-link {
	color: #fff;
	font-size: 20px;
}

.nav-link:hover {
	color: #fff;
}


#title {
	margin-top: -10px;	
}

.form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.username-section {
	margin-bottom: 5px;
}

#username-label {
	margin-top: 5px;
	font-size: 13px;
	font-style: italic;
	color: red;
	display: none;
}

.password-section {
	margin-bottom: 10px;
}

#password-label {
	margin-top: 5px;
	font-size: 13px;
	font-style: italic;
	color: red;
	display: none;
}


#login {
	width: 100%;
}
